@font-face {
  font-family: "Sk-Modernist";
  src: url("./font/Sk-Modernist-Mono.otf") format("truetype");
}
@font-face {
  font-family: "Bigilla";
  src: url("./font/Bigilla-Bold.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sk-Modernist", sans-serif;
  color: #fff;
}

/* -------------------------------------- cursor -------------------------------------- */
#cursor {
  height: 0;
  width: 0;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

#cursor::before,
#cursor::after {
  content: "";
  display: block;
  border-radius: 100%;
  position: absolute;
}

#cursor::before {
  border: solid 1px white;
  height: 40px;
  width: 40px;
  animation: pulse 3s infinite;
}

#cursor::after {
  border: 0;
  background: white;
  position: absolute;
  height: 5px;
  width: 5px;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(0.5);
  }
}

/* -------------------------------------- Scroll -------------------------------------- */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000000),
    to(#5f7080)
  );
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px -2px rgba(0, 0, 0, 0.25);
}

html,
body {
  overflow-x: hidden;
  background: #0a0a0a;
}
html {
  scroll-behavior: smooth;
  cursor: none;
}
html:hover #cursor {
  display: flex;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .container {
  width: 96%;
  margin: 0 auto;
}

.divider {
  width: 100%;
  height: 2px;
  background: #fff;
}

.whitespace {
  width: 100%;
  height: 80px;
}
a {
  text-decoration: none;
  opacity: 0.75;
}
a:hover {
  opacity: 1;
}
li {
  list-style: none;
}

/* -------------------------------------- Navbar -------------------------------------- */
.navbar .navbar-container {
  display: flex;
  padding: 16px 0;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
}
.navbar-container nav {
  display: flex;
}
.navbar-container nav li {
  margin: 0 15px;
  font-size: 20px;
}

/* -------------------------------------- Header -------------------------------------- */
.header {
  margin: 80px;
  z-index: 2 !important;
}
.header .header-container h1 {
  font-family: "Bigilla";
  font-size: 12rem;
}
@media (max-width: 1088px) {
  .header .header-container h1 {
    font-size: 10rem;
  }
}
@media (max-width: 915px) {
  .header .header-container h1 {
    font-size: 8rem;
  }
}
@media (max-width: 749px) {
  .header .header-container h1 {
    font-size: 6rem;
  }
}
@media (max-width: 583px) {
  .header {
    margin: 40px;
  }
  .header .header-container h1 {
    font-size: 6rem;
  }
}
@media (max-width: 543px) {
  .header .header-container h1 {
    font-size: 5rem;
  }
}
@media (max-width: 454px) {
  .header {
    margin: 20px;
  }
  .header .header-container h1 {
    font-size: 4.4rem;
  }
}

@media (max-width: 387px) {
  .header {
    margin: 20px;
  }
  .header .header-container h1 {
    font-size: 3.8rem;
  }
}
@media (max-width: 320px) {
  .header {
    margin: 20px;
  }
  .header .header-container h1 {
    font-size: 3.5rem;
  }
}

/* -------------------------------------- hero-image -------------------------------------- */
.hero-image {
  width: 100%;
  margin-top: -300px;
}
.hero-image::after {
  content: "";
  display: table;
  clear: both;
}
.hero-image .hero-image-container {
  width: 40%;
  float: right;
}
.hero-image .hero-image-container img {
  width: 100%;
}
@media (max-width: 900px) {
  .hero-image {
    margin-top: 40px;
  }
  .hero-image .hero-image-container {
    width: 100%;
  }
}

/* -------------------------------------- section-header -------------------------------------- */
.section-header .section-header-container {
  display: flex;
  padding: 12px 0;
  font-size: 20px;
  justify-content: space-between;
}

/* -------------------------------------- about -------------------------------------- */
.about {
  width: 100%;
}
.about::after {
  content: "";
  display: table;
  clear: both;
}
.about .about-container {
  width: 70%;
  float: right;
}
.about .about-container p {
  margin: 40px 0;
  font-size: 36px;
}

@media (max-width: 900px) {
  .about .about-container {
    width: 100%;
  }
  .about .about-container p {
    font-size: 24px;
  }
}

/* -------------------------------------- Project -------------------------------------- */
.project-container {
  position: relative;
  padding: 1.6vw 0 0 0;
  margin: 4px;
}

.project_link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  font-family: "Bigilla";
  text-transform: uppercase;
}

.project_link::before {
  all: initial;
  text-transform: uppercase;
  counter-increment: project;
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.project_link:hover {
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  opacity: 0;
}

.project_image {
  pointer-events: none;
  position: absolute;
  height: 50vh;
  max-height: 400px;
  opacity: 0;
  left: 100%;
  top: 50%;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
    translate3d(0, 20px, 0);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.project_link:hover + .project_image {
  opacity: 1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
    rotate3d(0, 0, 1, 4deg);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.project {
  padding: 0vh 0 0 0vh;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  font-size: 8vw;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
  pointer-events: none;
  mix-blend-mode: difference;
}

.marquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  padding: 2vw 0;
}

.project_link:hover ~ .marquee .marquee__inner {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.project_link,
.marquee span {
  white-space: nowrap;
  font-size: 8vw;
  padding: 1.6vw 1vw;
  font-weight: 900;
}

.marquee span {
  font-family: "Bigilla" !important;
  text-transform: uppercase;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

/* -------------------------------------- Skill -------------------------------------- */
.skill-container {
  display: grid;
  grid-gap: 3rem;
  padding: 1rem;
  max-width: 1024px;
  margin-inline: auto;
}

@media screen and (min-width: 718px) {
  .skill-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 718px) {
  .skill-container {
    grid-template-columns: 1fr;
  }
}

.skill-container .set {
  padding: 24px;
  border-radius: 16px;
}
.set header,
label {
  font-family: "Bigilla";
}
.set label {
  letter-spacing: 3px;
}

.set header {
  padding-block: 1rem;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.set .list {
  padding-block: 10px;
  display: grid;
  grid-template-columns: 1fr 20px;
  text-transform: uppercase;
}
.set .list i {
  font-size: 28px;
}

/* -------------------------------------- social -------------------------------------- */

.social {
  padding: 20px 0;
}

.social .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social .social-container a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Bigilla" !important;
  font-size: 64px;
}

@media (max-width: 1200px) {
  .social .social-container a {
    font-size: 50px;
  }
}

@media (max-width: 980px) {
  .social .social-container a {
    font-size: 40px;
  }
}
@media (max-width: 827px) {
  .social .social-container a {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .navbar-container {
    flex-direction: column;
  }
  .navbar-container nav li {
    padding: 10px 0;
  }
  .navbar-container .site-logo,
  .site-copyright {
    margin-bottom: 15px;
  }
  .social .social-container a {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .social .social-container a {
    font-size: 22px;
  }
}
@media (max-width: 425px) {
  .social .social-container a {
    font-size: 18px;
  }
}
@media (max-width: 346px) {
  .social .social-container a {
    font-size: 15px;
  }
}
